<div class="row">
    <div class="col-xs-12">
      <h2>{{ timing }}</h2>
    </div>
</div>   
<div class="row">
    <div class="col-xs-4">
        <button class="btn btn-default btn-LG" (click) = "startStopClick()">START / STOP</button>
    </div>
    <div class="col-xs-4">
        <button class="btn btn-default btn-LG" (click) = "waitClick()">WAIT</button>
    </div>
    <div class="col-xs-4">
        <button class="btn btn-default btn-LG" (click) = "resetClick()">RESET</button>
    </div>
</div>
